#webpage{
    background-color: #252835;
  }

#FixedBoxFixer {
  height: 10px;
}

#Entwickler {
  position: fixed;
  left: 10px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FF8C00;
}

#Donation {
  right: 10px;
  position: fixed;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FF8C00;
}

#Headline {
  font-size: 65px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  /* text-shadow:
    -2px -2px 0 #FF8C00,
    0   -2px 0 #FF8C00,
    2px -2px 0 #FF8C00,
    2px  0   0 #FF8C00,
    2px  2px 0 #FF8C00,
    0    2px 0 #FF8C00,
    -2px  2px 0 #FF8C00,
    -2px  0   0 #FF8C00; */
  text-align: center;
  margin-top: 0px;
}
  
  #Underline {
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-style: italic;
      color: rgb(255, 255, 255);
      text-align: center;
      margin-top: -40px;
  }
  
#OwnerRankingBox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 1170px;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 120px 300px 500px 250px;
    border: 1px solid rgb(255, 255, 255);
}

.UndercategorySymbol {
  width: 120px;
  height: 120px;
  border: 1px solid rgb(255, 255, 255);
  position: relative;
}

.PictureRanking {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.Category {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  text-decoration: underline;
  text-align: center;
  line-height: 150%;
}

#Category1 {
  height: 50px;
  width: 120px;
}

#Category2 {
  height: 50px;
  width: 300px;
}

#Category3 {
  height: 50px;
  width: 500px;
}

#Category4 {
  height: 50px;
  width: 250px;
}

.UndercategoryRank{
  height: 120px;
  width: 300px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  line-height: 120px;
}

.Undercategory{
  height: 120px;
  width: 500px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  background-color: #252835;
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  line-height: 120px;
  cursor: pointer;

}

.UndercategoryPoints{
  height: 120px;
  width: 250px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  line-height: 120px;
}
  
.LL {
    display: inline-block;
    text-align: left;
    position: relative;
    left: 10px;
}
  

/*Loader*/
#lds-hourglass {
    margin-left: 50%;
    margin-right: 50%;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

#lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid rgb(255, 255, 255);
  border-color: rgb(255, 255, 255) transparent rgb(255, 255, 255) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/* This is for the hover over Text on Points */

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -125px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* This is for the search field */

form {

  margin-left: auto;
  margin-right: auto;
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;     /* make main axis horizontal (default setting) */
  justify-content: center; /* center items horizontally, in this case */

  height: 25px;
  max-width: 500px;
  
  /* This bit draws the box around it */
  border:1px solid grey;

  /* I've used padding so you can see the edges of the elements. */
  padding:2px;
}

input {
  /* Tell the input to use all the available space */
  flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
}

input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}

#SearchButton {
  /* Just a little styling to make it pretty */
  border:1px solid #252835;
  background: #252835;
  color:white;
}